{% extends "base.html" %}

{% block content %}
{% if not billing_profile %}
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <div>
                <a href="{% url 'accounts:login' %}" class="btn btn-link">Login</a>
                {% include "auth/snippets/form.html" with form=login_form next_url=request.build_absolute_uri %}
            </div>
        </div>
    </div>
{% else %}
    <h1>Checkout</h1>

    <p>Cart total: {{ object.cart.total }}</p>
    <p>Shipping total: {{ object.shipping_total }}</p>
    <p>Order total: {{ object.total }}</p>
{% endif %}

{% endblock %}