{% extends "base.html" %}

{% block content %}
{{object.order_id}} -- {{object.cart}}

{% if not billing_profile %}
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <div>
                <p>Login</p>
                {% include "auth/snippets/form.html" with form=login_form next_url=request.build_absolute_uri %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <div>
                <p>or continue as a guest</p>
                {% url 'accounts:guest_register' as guest_register_url %}
                {% include "auth/snippets/form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
            </div>
        </div>
    </div>
{% else %}

    {% if not object.shipping_address  %}
        {% url 'checkout_address_create' as checkout_address_create %}
        {% include "addresses/snippets/form.html" with form=shipping_address_form address_type="shipping" next_url=request.build_absolute_uri action_url=checkout_address_create %}

    {% elif not object.billing_address %}
        {% url 'checkout_address_create' as checkout_address_create %}
        {% include "addresses/snippets/form.html" with form=billing_address_form address_type="billing" next_url=request.build_absolute_uri action_url=checkout_address_create %}

        <h1>Checkout</h1>

        <p>Cart total: {{ object.cart.total }}</p>
        <p>Shipping total: {{ object.shipping_total }}</p>
        <p>Order total: {{ object.total }}</p>
    {% endif %}
{% endif %}

{% endblock %}