{% url "home" as home_url %}
{% url "products:list" as product_list_url %}
{% url "contact" as contact_url %}
{% url "account:login" as login_url %}
{% url "account:home" as account_url %}
{% url "account:logout" as logout_url %}
{% url "account:register" as register_url %}
{% url "cart:home" as cart_url %}

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="http://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" class="d-inline-block align-text-top" alt="Bootstrap" width="30" height="24">
            {% if brand_name %} {{ brand_name }} {% else %}Django Ecomm Store {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == product_list_url %} active {% endif %}" href="{% url 'products:list' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == contact_url %} active {% endif %}" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item {% if request.path == home %} active {% endif %}">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-auto me-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Account
                </a>
                <ul class="dropdown-menu">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item {% if request.path == account_url %} active {% endif %}" href="{% url 'account:home' %}">Settings</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:user-library' %}">Library</a></li>
                        <li><a class="dropdown-item" href="{% url 'checkout_payment_method' %}">Billing</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:user-products-history' %}">History</a></li>
                        <li><a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item {% if request.path == logout_url %} active {% endif %}" href="{% url 'account:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item {% if request.path == login_url %} active {% endif %}" href="{% url 'account:login' %}">Login</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item {% if request.path == register_url %} active {% endif %}" href="{% url 'account:register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'cart:home' %}" class="nav-link {% if request.session.cart_items >= 1 %} active {% endif %}"><span class="navbar-cart-count">{{ request.session.cart_items }}</span> <i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
            {% include "snippets/search_form.html" %}
        </div>
    </div>
</nav>