<!-- 
    Card requirements
    card_image - image url
    card_title -  string
    card_link - url path
    card_price - number
    card_slug - slugified
-->
<div class="card" style="width: 18rem;">
    <a href="{{object.get_absolute_url}}">
        <img src="{{object.image.url}}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
        <p class="card-text">{{object.price}}</p>
        <a href="{{object.get_absolute_url}}" class="btn btn-primary">View More</a>
        <a href="{% url 'products:detail' object.slug_name %}" class="btn btn-warning">View More</a>
        {% include 'products/snippets/product_update_cart.html' with product=object cart=cart %}
    </div>
</div>