{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% if request.GET.q %}
        <h2>Results for {{request.GET.q}}</h2>
        {% else %}
        <div class="col">
            {% include "snippets/search_form.html" %}
        </div>
        {% endif %}
    </div>
    <div class="row text-center">
        <h1>Products List</h1>
    </div>
    <div class="row">
        <h3>Products</h3>
    </div>
    <div class="row">
        {% for product in product_list %}
        <div class="col">
            {% include 'products/snippets/product_card.html' with card_title=product.name card_link=product.get_absolute_url card_slug=product.slug_name card_image=product.image.url card_price=product.price %}
        </div>
        {% empty %}
        <div class="col">
            <p>No products at this time</p>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    
    {% endif %}
        
{% endblock %}