{% extends "base.html" %}

{% block content %}
    <div class="row text-center my-5">
        <h1>Your Recently Viewed Products</h1>
    </div>
    <div class="row">
        {% for product in product_list %}
        <div class="col">
            {% include 'products/snippets/product_card.html' with object=product.content_object %}
        </div>
        {% empty %}
        <div class="col">
            <p>No products at this time</p>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    
    {% endif %}
        
{% endblock %}

{% include 'products/snippets/product_card.html' with object=product.content_object %}