{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "base/base_css.html" %}
</head>
<body>
    {% include "base/base_nav.html" with brand_name="Ecomm Site" %}
    <div class="main_container container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
    {% include "base/base_scripts.html" %}

    <script>
        $(document).ready(function(){
            var productForm = $(".form-product-ajax")

            productForm.submit(function(event){
                event.preventDefault();
                var thisForm = $(this);
                var actionEndpoint = thisForm.attr("data-endpoint");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();
                console.log()

                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function(data){
                        console.log("success")
                        console.log(data)
                        console.log("Added", data.added)
                        console.log("Removed",data.removed)
                        var submitSpan = thisForm.find(".submit-span")
                        if (data.added){
                            submitSpan.html('<button class="btn btn-danger" type="submit">Remove</button>')
                        } else {
                            submitSpan.html('<button class="btn btn-success" type="submit">Add to Cart</button>')
                        }
                        var navbarCount = $(".navbar-cart-count")
                        navbarCount.text(data.cartItemCount)
                        var currentPath = window.location.href
                        if (currentPath.indexOf("cart") != -1) {
                            refreshCart()
                        }
                    },
                    error: function(errorData){
                        console.log("error")
                        console.log(errorData)
                    },
                })
                
            })

            function refreshCart(){
                console.log("in current cart")
                var cartTable = $(".cart-table")
                var cartBody = cartTable.find(".cart-body")
                var cartProductsRow = cartTable.find(".cart-products")
                var currentUrl = window.location.href
                var refreshCartUrl = 'api/cart'
                var refreshCartMethod = "GET"
                var data = {}
                $.ajax({
                    url: refreshCartUrl,
                    method: refreshCartMethod,
                    data: data,
                    success: function(data){
                        console.log("success")
                        var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
                        if (data.products.length > 0) {
                            cartProductsRow.html("")
                            i = data.products.length
                            $.each(data.products, function(index, value){
                                var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                                newCartItemRemove.css("display", "block")
                                newCartItemRemove.find(".cart-item-product-id").val(value.id)
                                cartBody.prepend("<tr><th scope='row'>" + i + "</th><td><a href='" + value.url + "'>" + value.name + "</a>" + newCartItemRemove.html() + "</td><td>" + value.price + "</td></tr>")
                                i --
                            })
                            cartBody.find(".cart-subtotal").text(data.subtotal)
                            cartBody.find(".cart-total").text(data.total)
                        } else {
                            window.location.href = currentUrl
                        }
                    },
                    error: function(errorData){
                        console.log("error")
                        console.log(errorData)
                    },
                })
            }
        })
    </script>
</html>