{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row text-center">
        <h1>Hello World!</h1>
        <h2>{{ title }}</h2>
    </div>
    <div class="row">
        <h3>Content</h3>
        <div class="col">
            <p>{{ content }}</p>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="row">
        <h3>Prem Content</h3>
        <div class="col">
            <p>{{ premium_content }}</p>
        </div>
    </div>
    {% endif %}

{% endblock %}